### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [38]:
#Note: program is created for cells run in sequence, as below cell might need variables calculated in previous cells

# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file)

## Player Count

* Display the total number of players

In [39]:
#Count Total Player based on unique list of SN
NumberOfPlayers = len(purchase_data["SN"].unique())

#Display Results in Dataframe
df_TotalPlayers = pd.DataFrame([{"Total Players": NumberOfPlayers}])
df_TotalPlayers

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [40]:
#Count Number of items based on unique list of Items
UniqueItems = len(purchase_data['Item ID'].unique())

#Calculate Average Price, and Total Revenue based on Price
AveragePrice = purchase_data['Price'].mean()
TotalRevenue = purchase_data['Price'].sum()

#Using Count function  on Purchase ID can generate number of Purchases 
NumberPurchases = purchase_data['Purchase ID'].count()

#Create a list of summary and create a dataFrame
df_AnalysisTotal = pd.DataFrame([{"Number of Unique Items": UniqueItems,
                                  "Average Price": AveragePrice,
                                  "Number of Purchases": NumberPurchases,
                                  "Total Revenue": TotalRevenue}])

#Formatting result for better display
df_AnalysisTotal["Average Price"] = df_AnalysisTotal["Average Price"].map("${:.2f}".format)
df_AnalysisTotal["Total Revenue"] = df_AnalysisTotal["Total Revenue"].map("${:.2f}".format)
df_AnalysisTotal

  Average Price  Number of Purchases  Number of Unique Items Total Revenue
0         $3.05                  780                     183      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [41]:
#For Analysis of Gender Demographic, only SN (List of ID) and gender needed
#Creating new dataframe by selecting SN and Gender columns only
df_SN = purchase_data[['SN','Gender']]

#Drop duplicate data to generate a unique list of SN
df_uniqueSN = df_SN.drop_duplicates(keep='first')
#Count value of each Gender
NoOfGender = df_uniqueSN["Gender"].value_counts()

#Creating new dataframe based on value counts
df_GenderDemo = NoOfGender.to_frame()

#Adding new column for calculation result
df_GenderDemo["Percentage Of Players"] = df_GenderDemo["Gender"]/NumberOfPlayers*100

#Formatting result for better display
df_GenderDemo["Percentage Of Players"] = df_GenderDemo["Percentage Of Players"].map("{:.2f}%".format)

#Rename column Gender to total Count
df_GenderDemo = df_GenderDemo.rename(columns= {"Gender": "Total Count"}) 
df_GenderDemo

                       Total Count Percentage Of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [42]:
#For Analysis of Purchasing Analysis based on gender, only gender and price data needed
#Creating new dataframe by selecting Gender and Price columns only
df_ForGender = purchase_data[['Gender','Price']]

#Group data based on Gender column
df_Gender = df_ForGender.groupby("Gender")

#Start building a dataframe by counting grouped data and rename the column header
df_AnalysisGender = df_Gender.count()
df_AnalysisGender = df_AnalysisGender.rename(columns= {"Price": "Purchase Count"})

#Adding new columns for calculation results
df_AnalysisGender["Average Purchase Price"] = df_Gender.mean()
df_AnalysisGender["Total Purchase Value"] = df_Gender.sum()
df_AnalysisGender["Avg Total Purchase per Person"] = df_AnalysisGender["Total Purchase Value"]/df_GenderDemo["Total Count"]

#Formatting result for better display
df_AnalysisGender["Average Purchase Price"] = df_AnalysisGender["Average Purchase Price"].map("${:.2f}".format)
df_AnalysisGender["Total Purchase Value"] = df_AnalysisGender["Total Purchase Value"].map("${:.2f}".format)
df_AnalysisGender["Avg Total Purchase per Person"] = df_AnalysisGender["Avg Total Purchase per Person"].map("${:.2f}".format)
df_AnalysisGender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [43]:
#Declaring Bins criteria
age_bins = [0,9,14,19,24,29,34,39,200]
age_labels = ["<10", "10-14", "15-19","20-24", "25-29","30-34", "35-39","40+"]

#Copy purchase_data dataframe for binning purpose
df_WithAgeGroup = purchase_data.copy()
#Add column Age Ranges for binning result so that we have one dataframe with complete data
df_WithAgeGroup["Age Ranges"] = pd.cut(df_WithAgeGroup['Age'], age_bins, labels=age_labels)

#For Age Analysis of the customers only SN, Age and Age Ranges needed
#Generating new dataframe by selecting SN, Age and Age Ranges only
df_SN_Age = df_WithAgeGroup[['SN', 'Age','Age Ranges']]
#Since this is analysis of users, there are duplicates data. Therefore dropping duplicate data
df_uniqueSN_Age = df_SN_Age.drop_duplicates(keep='first')

#Group data based on Age Ranges column
df_grouped_Age = df_uniqueSN_Age.groupby("Age Ranges")

#Start building a dataframe by counting grouped data and rename the column header
df_Age_count = df_grouped_Age.count()
df_Age_count = df_Age_count.rename(columns= {"SN": "Total Count"}) 

#Adding new columns for calculation results
df_Age_count["Percentage Of Players"] = df_Age_count["Total Count"]/NumberOfPlayers*100
#Creating new dataframe to select columns for display  by dropping Age column
df_AgeDemo = df_Age_count.drop('Age', axis=1)  

#Formatting result for better display
df_AgeDemo["Percentage Of Players"] = df_AgeDemo["Percentage Of Players"].map("{:.2f}%".format)
df_AgeDemo

            Total Count Percentage Of Players
Age Ranges
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40+                  12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [44]:
#Using new added Age Ranges dataframe df_WithAgeGroup from the previous Cell

#For Purchasing Analysis based on Age, only Age Ranges and Price are needed
df_ForAge = df_WithAgeGroup[['Age Ranges','Price']]

#Group new dataframe based on Age Ranges column
df_Age = df_ForAge.groupby("Age Ranges")

#Start building a dataframe by counting group data for Purchase Count data and rename the column header
df_AnalysisAge = df_Age.count()
df_AnalysisAge= df_AnalysisAge.rename(columns= {"Price": "Purchase Count"}) 

#Adding new columns for calculation results
df_AnalysisAge["Average Purchase Price"] = df_Age.mean()
df_AnalysisAge["Total Purchase Value"] = df_Age.sum()
df_AnalysisAge["Avg Total Purchase per Person"] = df_AnalysisAge["Total Purchase Value"]/df_AgeDemo["Total Count"]

#Formatting result for better display
df_AnalysisAge["Average Purchase Price"] = df_AnalysisAge["Average Purchase Price"].map("${:.2f}".format)
df_AnalysisAge["Total Purchase Value"] = df_AnalysisAge["Total Purchase Value"].map("${:.2f}".format)
df_AnalysisAge["Avg Total Purchase per Person"] = df_AnalysisAge["Avg Total Purchase per Person"].map("${:.2f}".format)
df_AnalysisAge

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [45]:
#Using new added Age Ranges dataframe df_WithAgeGroup from the previous Cell

#For Top Spender Analysis, only SN and Price are needed
df_ForSpenders = df_WithAgeGroup[['SN','Price']]

#Group new dataframe based on SN (ID of customers) column
df_Spender = df_ForSpenders.groupby("SN")

#To generate a top spenders list we should sum the price data then sort it descending

#Start building a dataframe by calculate of sum of price column
df_Spenders = df_Spender.sum()
df_TopSpenders = df_Spenders.sort_values("Price", ascending=False)
df_TopSpenders = df_TopSpenders.rename(columns= {"Price": "Purchase Count"}) 

#Adding new columns for calculation results
df_TopSpenders["Average Purchase Price"] = df_Spender.mean()
df_TopSpenders["Total Purchase Value"] = df_Spender.sum()

#Formatting result for better display
df_TopSpenders["Average Purchase Price"] = df_TopSpenders["Average Purchase Price"].map("${:.2f}".format)
df_TopSpenders["Total Purchase Value"] = df_TopSpenders["Total Purchase Value"].map("${:.2f}".format)
df_TopSpenders.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93             18.96                  $3.79               $18.96
Idastidru52           15.45                  $3.86               $15.45
Chamjask73            13.83                  $4.61               $13.83
Iral74                13.62                  $3.40               $13.62
Iskadarya95           13.10                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [46]:
#Using new added Age Ranges dataframe df_WithAgeGroup from the previous Cell

#For Most Popular Item Analysis, only Item ID, Item Name and Price are needed
df_ForItems = df_WithAgeGroup[['Item ID','Item Name','Price']]

#Group new dataframe based on Item, use both Item ID and Item Name so that there are 2 indices
df_PopularItems = df_ForItems.groupby(["Item ID",'Item Name'])

#To know which item sold more then others then count per item

#Start building a dataframe by calculate of count of the items and rename the column name
df_PopularItems_count = df_PopularItems.count()
df_Items = df_PopularItems_count.rename(columns= {"Price": "Purchase Count"}) 

#Adding new columns for calculation results
df_Items["Item Price"] = df_PopularItems.mean()
df_Items["Total Purchase Value"] = df_PopularItems.sum()

#For TopItems, dataframe should be sorted based on Purchase Count
df_TopItems = df_Items.sort_values("Purchase Count", ascending=False)

#Formatting result for better display
df_TopItems["Item Price"] = df_TopItems["Item Price"].map("${:.2f}".format)
df_TopItems["Total Purchase Value"] = df_TopItems["Total Purchase Value"].map("${:.2f}".format)

#Display only top 5
df_TopItems.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [47]:
#Using full generated df_Items from the previous Cell

#For Most Profitable Items, instead of Purchase Count, dataframe should be sorted based on Total Purchase value
df_ProfitItems = df_Items.sort_values("Total Purchase Value", ascending=False)

#Formatting result for better display
df_ProfitItems["Item Price"] = df_ProfitItems["Item Price"].map("${:.2f}".format)
df_ProfitItems["Total Purchase Value"] = df_ProfitItems["Total Purchase Value"].map("${:.2f}".format)

#Display only top 5
df_ProfitItems.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80